/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
/* HANDLE FOR WARHAMMER 4TH EDITION SYSTEM                            */
/* ────────────────────────────── ⋆⋅☆⋅⋆ ────────────────────────────── */
body.vtt.game.system-wfrp4e #module-credits-dialog main.module-credits-window {
    background: url(/systems/wfrp4e/ui/frames/window-app-background-bookshelf.webp);
    left: 187px;
    width: calc(100% - 187px);
}
body.vtt.game.system-wfrp4e #module-credits-dialog main.module-credits-window.full-width {
    left: 0px;
    width: calc(100% - 0px);
}
body.vtt.game.system-wfrp4e #module-credits-dialog nav {
    background: url(/systems/wfrp4e/ui/frames/window-app-background-generic.webp);
}
body.vtt.game.system-wfrp4e #module-credits-dialog nav ul li a {
    background: url(/systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat;
    background-origin: padding-box;
    border: 1px solid black;
    border-image: url(/systems/wfrp4e/ui/footer-button.webp) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;
}
/* WARHAMMER DOESN'T USE CSS VARIABLES */
body.vtt.game.system-wfrp4e #module-management .list-filters, #client-settings .sheet-tabs {
    flex: 1;
    line-height: normal;
}
body.vtt.game.system-wfrp4e #module-management .list-filters input {
    margin: 0px;
}
body.vtt.game.system-wfrp4e #module-management .window-content form .list-filters > a.filter {
    background: #0a1829d9;
    border: 3px double #564d3a;
}
body.vtt.game.system-wfrp4e #module-management .window-content form .list-filters > a.filter.active {
    background: #290a0ad9;
}
body.vtt.game.system-wfrp4e #module-management .window-content form #module-credits-presets > button,
body.vtt.game.system-wfrp4e #module-management .window-content form .list-filters > button {
    background: url(/systems/wfrp4e/ui/sidebar_button-background_red.webp) repeat;
    background-origin: padding-box;
    border-image: url(/systems/wfrp4e/ui/footer-button.webp) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;
    color: var(--major-button-color);
}
body.vtt.game.system-wfrp4e #module-management .window-content form #module-credits-presets > input, 
body.vtt.game.system-wfrp4e #module-management .window-content form #module-credits-presets > select {
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: #d6d6d6;
    border: 1px solid #736953a6;
    border-left: none;
    box-shadow: 0px 0px 10px inset black;
    background: #352516;
}
body.vtt.game.system-wfrp4e #module-management .window-content form #module-credits-presets > select option {
    background: #352516;
}
body.vtt.game.system-wfrp4e #module-management .window-content {
    overflow: hidden;
}
body.vtt.game.system-wfrp4e #module-management.module-credits-big-picture-mode #module-credits-presets ~ #module-list.package-list {
    min-height: calc(100vh - 198px);
}
body.vtt.game.system-wfrp4e #module-management .window-content form #module-list.package-list .package .package-description {
    background: var(--tab-header-color);
}

body.vtt.game.system-wfrp4e #homebrew-settings .form-group input[type="checkbox"], 
body.vtt.game.system-wfrp4e #client-settings .form-group input[type="checkbox"] {
    margin: 0px;
}

body.vtt.game.system-wfrp4e #client-settings #module-credits-settings-search input {
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: #d6d6d6;
    border: 1px solid #736953a6;
    border-left: none;
    box-shadow: 0px 0px 10px inset black;
    background: #352516;
} 
body.vtt.game.system-wfrp4e #client-settings #module-credits-settings-search button {
    box-shadow: none;
    font-family: "Font Awesome 5 Free";
    min-width: 35px;
}
body.vtt.game.system-wfrp4e #client-settings.window-app section.content .settings-list {
    min-height: auto;
    max-height: unset;
}
body.vtt.game.system-wfrp4e #client-settings.window-app .sheet-footer, 
body.vtt.game.system-wfrp4e #module-management .window-content form footer {
    padding: 0px;;
}