
.package-list .package .package-overview .tag.action {
    background-color: rgb(33 37 41);
    color: rgb(255 255 255);
}
.package-list .package .package-overview .tag.action:hover {
    background-color: rgb(28 31 35);
    color: rgb(255 255 255);
}

.package-list .package .package-overview .tag.author {
    background-color: rgb(0 150 136);
    color: rgb(255 255 255);
}
.package-list .package .package-overview .tag.author:hover {
    background-color: rgb(51 201 187);
    color: rgb(255 255 255);
}

.package-list .package .package-overview .tag.changelog {
    background-color: rgb(15 121 233);
    color: rgb(255 255 255);
}
.package-list .package .package-overview .tag.changelog:hover {
    background-color: rgb(66 172 255);
    color: rgb(255 255 255);
}

.package-list .package .package-overview .tag.issues {
    background-color: rgb(255 59 22);
    color: rgb(255 255 255);
}
.package-list .package .package-overview .tag.issues:hover {
    background-color: rgb(255  110  73);
    color: rgb(255 255 255);
}

.package-list .package .package-overview .tag.readme {
    background-color: rgb(108 46 196);
    color: rgb(255 255 255);
}
.package-list .package .package-overview .tag.readme:hover {
    background-color: rgb(159  97  247);
    color: rgb(255 255 255);
}